.contenu-header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 200px;
  }
  a {
    font-family:Impact;
    font-size: 25px;
    margin: 25px;
    color: #ffffff;
    text-decoration: none;
    &:hover {
      color: rgb(119, 156, 223);
    }
  }
  
  .active {
    color: rgb(119, 156, 223);//#bdbdbd; //#c7c1c1
  }
  .tqt {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #484178;
  }