<div class="foot-block">
  <p>
    Website :
    <a [href]="infos.links.website" target="_blank">{{
      infos.links.website
    }}</a>
  </p>
  <p>
    Flickr :
    <a [href]="infos.links.flickr" target="_blank">{{ infos.links.flickr }}</a>
  </p>
  <p>
    Twitter :
    <a [href]="infos.links.twitter" target="_blank">{{
      infos.links.twitter
    }}</a>
  </p>
  <p>
    Elon's twitter :
    <a [href]="infos.links.elon_twitter" target="_blank">{{
      infos.links.elon_twitter
    }}</a>
  </p>
</div>
