.rockets-contenu{
  text-align: center;
}
.rocket-unit {
    background-color: #ebeaea ; //#bdbdbd #d7d6d6
    color: black;
    border-radius: 10px;
    box-sizing: border-box;
    width: 50%;
    margin: 20px auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:left;
    img {
      margin: 20px;
      width: 95%;
    }
    h3 {
        font-weight: bold;
        font-size: 25px;
        text-align: center;
    }
    p {
      font-weight: 300;
      font-size: 16px;
    }
    .intitule {
        vertical-align: top;
        white-space: nowrap;
        font-weight: bold;
    }
    button{
      background-color: rgb(119, 156, 223);
      border-color: rgb(119, 156, 223);
      border-radius: 10px;
    }
  }