.member-unit {
    //width: 100%;
    //height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    background-color: #ebeaea; //#bdbdbd
    //box-sizing: border-box;
    //width: 50%;
    //margin: 20px auto;
    display: inline-block;
    width: 250px;
    height: 350px;
    margin: 1%;
    padding: 25px;
    margin-left: 3.5%;
    box-shadow: lightgray 4px 4px 5px;
    text-align: center;
    //vertical-align: top;
  }

  img {
    width: 90%;
    height: 90%;
    object-fit: cover;
  }
  h3 {
      font-weight: bold;
      font-size: 25px;
  }
  p {
    font-weight: 300;
    font-size: 16px;
  }

  // Hover
  .member-unit:hover {
    transform: rotateY(180deg);
  }

  .thefront {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    color: #000;
    //margin-top: 5%;
  }

  .theback {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #fafafa;
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
  }

  .theback h1 {
    font-family: "zilla slab", sans-serif;
    padding: 30px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
  }

  .theback p {
    font-family: "zilla slab", sans-serif;
    padding: 30px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
  }
  
  
  