.home-block {
    text-align: center;
}
img {
    margin-left: 5%;
    height: 60%;
    width: 60%;
    margin-bottom: 150px;
}
.presentation{
    margin-left: 20%;
    margin-right: 20%;
}
.presentation,
.figures,
.structure,
.address {
    margin-bottom: 100px;
}